# Roxygen-generated man pages
man/*.Rd

# R/RStudio files:
.Rbuildignore
FuzzyNumbers.Rproj
.Rproj.user
.Rhistory
.RData

# SVN
.svn

# compiled/precompiled files
*.o
*.so

# backup files
*~
*.backup
*.bak
