# Roxygen-generated man pages
man/*.Rd

# R/RStudio files:
FuzzyNumbers.Rproj
.Rproj.user
.Rhistory
.RData

# SVN
.svn

# compiled/precompiled files
*.o
*.so

# backup files
*~
*.backup
*.bak


# LaTeX/knitr aux stuff
cache-knitr
figures-knitr
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
devel/tutorial/src/*.tex
devel/tutorial/src/*.pdf
