export(approx.invert)
export(as.FuzzyNumber)
export(as.PiecewiseLinearFuzzyNumber)
export(convert.alpha)
export(convert.side)
export(DiscontinuousFuzzyNumber)
export(FuzzyNumber)
export(integrate_discont_val)
export(PiecewiseLinearFuzzyNumber)
export(PowerFuzzyNumber)
export(TrapezoidalFuzzyNumber)
exportClasses(DiscontinuousFuzzyNumber)
exportClasses(FuzzyNumber)
exportClasses(PiecewiseLinearFuzzyNumber)
exportClasses(PowerFuzzyNumber)
exportClasses(TrapezoidalFuzzyNumber)
exportMethods("-")
exportMethods("[")
exportMethods("*")
exportMethods("+")
exportMethods(alphacut)
exportMethods(alphaInterval)
exportMethods(ambiguity)
exportMethods(core)
exportMethods(distance)
exportMethods(evaluate)
exportMethods(expectedInterval)
exportMethods(expectedValue)
exportMethods(integrateAlpha)
exportMethods(piecewiseLinearApproximation)
exportMethods(plot)
exportMethods(show)
exportMethods(supp)
exportMethods(trapezoidalApproximation)
exportMethods(value)
exportMethods(weightedExpectedValue)
exportMethods(width)
